MemberPress.json
{
    "name": "Курс_chatGPT_GetResponce->Create_Member_MemberPress.(dont stop)",
    "flow": [
        {
            "id": 20,
            "module": "getresponse:WatchContacts",
            "version": 2,
            "parameters": {
                "limit": 10,
                "__IMTCONN__": 4082199
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -961,
                    "y": -31
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "getresponse2"
                            },
                            "label": "My GetResponse connection (alexeykrol@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:getresponse2",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 65,
            "module": "airtable:ActionCreateRecord",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 4156908
            },
            "filter": {
                "name": "Course_chatGPT",
                "conditions": [
                    [
                        {
                            "a": "{{20.campaign.name}}",
                            "b": "Course_chatGPT",
                            "o": "text:equal"
                        }
                    ]
                ]
            },
            "mapper": {
                "base": "appLFYxQ9GP3YZxC7",
                "table": "tblXMQIw4QytdW4Im",
                "record": {
                    "fldLBVtTc80rC27z8": "{{20.createdOn}}",
                    "fldW65FCJNwIUBva8": "{{20.email}}"
                },
                "typecast": false,
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": -345,
                    "y": -35
                },
                "restore": {
                    "expect": {
                        "base": {
                            "label": "Курс по ИИ"
                        },
                        "table": {
                            "label": "Курс chatGPT",
                            "nested": [
                                {
                                    "name": "record",
                                    "spec": [
                                        {
                                            "name": "fldW65FCJNwIUBva8",
                                            "type": "text",
                                            "label": "Email"
                                        },
                                        {
                                            "name": "fldLBVtTc80rC27z8",
                                            "time": false,
                                            "type": "date",
                                            "label": "Date"
                                        },
                                        {
                                            "name": "fldoWToo4XhOX9kmS",
                                            "type": "text",
                                            "label": "Member-ID"
                                        },
                                        {
                                            "name": "fld18vkDuN8hfAvc6",
                                            "type": "text",
                                            "label": "Membership_ID"
                                        },
                                        {
                                            "name": "fldNBjoVr57IpDyip",
                                            "type": "text",
                                            "label": "Membership"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Record"
                                }
                            ]
                        },
                        "typecast": {
                            "mode": "chose"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable2"
                            },
                            "label": "Airtable"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "typecast",
                        "type": "boolean",
                        "label": "Smart links",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "record",
                        "spec": [
                            {
                                "name": "fldW65FCJNwIUBva8",
                                "type": "text",
                                "label": "Email"
                            },
                            {
                                "name": "fldLBVtTc80rC27z8",
                                "time": false,
                                "type": "date",
                                "label": "Date"
                            },
                            {
                                "name": "fldoWToo4XhOX9kmS",
                                "type": "text",
                                "label": "Member-ID"
                            },
                            {
                                "name": "fld18vkDuN8hfAvc6",
                                "type": "text",
                                "label": "Membership_ID"
                            },
                            {
                                "name": "fldNBjoVr57IpDyip",
                                "type": "text",
                                "label": "Membership"
                            }
                        ],
                        "type": "collection",
                        "label": "Record"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Email",
                        "type": "text",
                        "label": "Email"
                    },
                    {
                        "name": "Date",
                        "time": false,
                        "type": "date",
                        "label": "Date"
                    },
                    {
                        "name": "Member-ID",
                        "type": "text",
                        "label": "Member-ID"
                    },
                    {
                        "name": "Membership_ID",
                        "type": "text",
                        "label": "Membership_ID"
                    },
                    {
                        "name": "Membership",
                        "type": "text",
                        "label": "Membership"
                    }
                ]
            }
        },
        {
            "id": 35,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 781,
                    "y": -34
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 36,
                            "module": "wordpress:searchUsers",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 4244696
                            },
                            "mapper": {
                                "limit": "10",
                                "order": {},
                                "roles": [
                                    "super_admin",
                                    "administrator",
                                    "editor",
                                    "author",
                                    "contributor",
                                    "subscriber"
                                ],
                                "search": "{{20.email}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 774,
                                    "y": -765
                                },
                                "restore": {
                                    "expect": {
                                        "order": {
                                            "nested": {
                                                "field": {
                                                    "mode": "chose",
                                                    "label": "Empty"
                                                },
                                                "order": {
                                                    "mode": "chose"
                                                }
                                            }
                                        },
                                        "roles": {
                                            "mode": "chose",
                                            "label": [
                                                "Super Admin",
                                                "Administrator",
                                                "Editor",
                                                "Author",
                                                "Contributor",
                                                "Subscriber"
                                            ]
                                        },
                                        "exclude": {
                                            "mode": "chose"
                                        },
                                        "include": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "wordpress4"
                                            },
                                            "label": "WordPress alexeykrol.com (Алексей Крол)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:wordpress4",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "search",
                                        "type": "text",
                                        "label": "Search"
                                    },
                                    {
                                        "name": "roles",
                                        "type": "select",
                                        "label": "Roles",
                                        "multiple": true
                                    },
                                    {
                                        "name": "order",
                                        "spec": [
                                            {
                                                "name": "field",
                                                "type": "select",
                                                "label": "Field",
                                                "validate": {
                                                    "enum": [
                                                        "id",
                                                        "name",
                                                        "email",
                                                        "registered_date",
                                                        "include",
                                                        "url",
                                                        "slug",
                                                        "include_slugs"
                                                    ]
                                                }
                                            },
                                            {
                                                "name": "order",
                                                "type": "select",
                                                "label": "Order"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Order By"
                                    },
                                    {
                                        "name": "limit",
                                        "type": "uinteger",
                                        "label": "Limit"
                                    },
                                    {
                                        "name": "include",
                                        "spec": {
                                            "name": "value",
                                            "type": "select",
                                            "label": "User ID",
                                            "dynamic": true,
                                            "options": []
                                        },
                                        "type": "array",
                                        "label": "Include"
                                    },
                                    {
                                        "name": "exclude",
                                        "spec": {
                                            "name": "value",
                                            "type": "select",
                                            "label": "User ID",
                                            "dynamic": true,
                                            "options": []
                                        },
                                        "type": "array",
                                        "label": "Exclude"
                                    },
                                    {
                                        "name": "slug",
                                        "type": "text",
                                        "label": "Slug"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 37,
                            "module": "builtin:BasicRouter",
                            "version": 1,
                            "mapper": null,
                            "metadata": {
                                "designer": {
                                    "x": 1401,
                                    "y": -758
                                }
                            },
                            "routes": [
                                {
                                    "flow": [
                                        {
                                            "id": 45,
                                            "module": "builtin:BasicRouter",
                                            "version": 1,
                                            "filter": {
                                                "name": "Email And ID NO exists",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{36.id}}",
                                                            "o": "notexist"
                                                        },
                                                        {
                                                            "a": "{{36.email}}",
                                                            "o": "notexist"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": null,
                                            "metadata": {
                                                "designer": {
                                                    "x": 1419,
                                                    "y": -1255
                                                }
                                            },
                                            "routes": [
                                                {
                                                    "flow": [
                                                        {
                                                            "id": 38,
                                                            "module": "memberpress:createMember",
                                                            "version": 1,
                                                            "parameters": {
                                                                "__IMTCONN__": 4243231
                                                            },
                                                            "filter": {
                                                                "name": "Member doesn't exist",
                                                                "conditions": [
                                                                    [
                                                                        {
                                                                            "a": "{{36.id}}",
                                                                            "o": "notexist"
                                                                        },
                                                                        {
                                                                            "a": "{{36.email}}",
                                                                            "o": "notexist"
                                                                        }
                                                                    ]
                                                                ]
                                                            },
                                                            "mapper": {
                                                                "email": "{{20.email}}",
                                                                "username": "{{20.email}}",
                                                                "transaction": {}
                                                            },
                                                            "metadata": {
                                                                "designer": {
                                                                    "x": 1985,
                                                                    "y": -1259
                                                                },
                                                                "restore": {
                                                                    "expect": {
                                                                        "country": {
                                                                            "mode": "chose"
                                                                        },
                                                                        "transaction": {
                                                                            "nested": {
                                                                                "coupon": {
                                                                                    "mode": "chose"
                                                                                },
                                                                                "status": {
                                                                                    "mode": "chose",
                                                                                    "label": "Empty"
                                                                                },
                                                                                "gateway": {
                                                                                    "mode": "chose",
                                                                                    "label": "Empty"
                                                                                },
                                                                                "membership": {
                                                                                    "mode": "chose"
                                                                                },
                                                                                "subscription": {
                                                                                    "mode": "chose"
                                                                                },
                                                                                "send_receipt_email": {
                                                                                    "mode": "chose"
                                                                                },
                                                                                "send_welcome_email": {
                                                                                    "mode": "chose"
                                                                                }
                                                                            }
                                                                        },
                                                                        "send_welcome_email": {
                                                                            "mode": "chose"
                                                                        },
                                                                        "send_password_email": {
                                                                            "mode": "chose"
                                                                        }
                                                                    },
                                                                    "parameters": {
                                                                        "__IMTCONN__": {
                                                                            "data": {
                                                                                "scoped": "true",
                                                                                "connection": "memberpress"
                                                                            },
                                                                            "label": "MemberPress (E8fLXqTw9M)"
                                                                        }
                                                                    }
                                                                },
                                                                "parameters": [
                                                                    {
                                                                        "name": "__IMTCONN__",
                                                                        "type": "account:memberpress",
                                                                        "label": "Connection",
                                                                        "required": true
                                                                    }
                                                                ],
                                                                "expect": [
                                                                    {
                                                                        "name": "email",
                                                                        "type": "email",
                                                                        "label": "Email",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "username",
                                                                        "type": "text",
                                                                        "label": "Username",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "first_name",
                                                                        "type": "text",
                                                                        "label": "First Name"
                                                                    },
                                                                    {
                                                                        "name": "last_name",
                                                                        "type": "text",
                                                                        "label": "Last Name"
                                                                    },
                                                                    {
                                                                        "name": "password",
                                                                        "type": "text",
                                                                        "label": "Password"
                                                                    },
                                                                    {
                                                                        "name": "transaction",
                                                                        "spec": [
                                                                            {
                                                                                "name": "membership",
                                                                                "type": "select",
                                                                                "label": "Membership"
                                                                            },
                                                                            {
                                                                                "name": "trans_num",
                                                                                "type": "text",
                                                                                "label": "Transaction Number"
                                                                            },
                                                                            {
                                                                                "name": "amount",
                                                                                "type": "number",
                                                                                "label": "Amount"
                                                                            },
                                                                            {
                                                                                "name": "total",
                                                                                "type": "number",
                                                                                "label": "Total"
                                                                            },
                                                                            {
                                                                                "name": "tax_amount",
                                                                                "type": "number",
                                                                                "label": "Tax Amount"
                                                                            },
                                                                            {
                                                                                "name": "tax_rate",
                                                                                "type": "number",
                                                                                "label": "Tax Rate"
                                                                            },
                                                                            {
                                                                                "name": "tax_desc",
                                                                                "type": "text",
                                                                                "label": "Tax Description"
                                                                            },
                                                                            {
                                                                                "name": "coupon",
                                                                                "type": "select",
                                                                                "label": "Coupon"
                                                                            },
                                                                            {
                                                                                "name": "status",
                                                                                "type": "select",
                                                                                "label": "Status",
                                                                                "validate": {
                                                                                    "enum": [
                                                                                        "pending",
                                                                                        "complete",
                                                                                        "failed",
                                                                                        "refunded"
                                                                                    ]
                                                                                }
                                                                            },
                                                                            {
                                                                                "name": "response",
                                                                                "type": "text",
                                                                                "label": "Response"
                                                                            },
                                                                            {
                                                                                "name": "gateway",
                                                                                "type": "select",
                                                                                "label": "Gateway",
                                                                                "validate": {
                                                                                    "enum": [
                                                                                        "manual"
                                                                                    ]
                                                                                }
                                                                            },
                                                                            {
                                                                                "name": "subscription",
                                                                                "type": "select",
                                                                                "label": "Subscription"
                                                                            },
                                                                            {
                                                                                "name": "send_welcome_email",
                                                                                "type": "boolean",
                                                                                "label": "Send Welcome Email"
                                                                            },
                                                                            {
                                                                                "name": "send_receipt_email",
                                                                                "type": "boolean",
                                                                                "label": "Send Receipt Email"
                                                                            }
                                                                        ],
                                                                        "type": "collection",
                                                                        "label": "Transaction"
                                                                    },
                                                                    {
                                                                        "name": "send_welcome_email",
                                                                        "type": "boolean",
                                                                        "label": "Send Welcome Email"
                                                                    },
                                                                    {
                                                                        "name": "send_password_email",
                                                                        "type": "boolean",
                                                                        "label": "Send Password Email"
                                                                    },
                                                                    {
                                                                        "name": "address1",
                                                                        "type": "text",
                                                                        "label": "Address 1"
                                                                    },
                                                                    {
                                                                        "name": "address2",
                                                                        "type": "text",
                                                                        "label": "Address 2"
                                                                    },
                                                                    {
                                                                        "name": "city",
                                                                        "type": "text",
                                                                        "label": "City"
                                                                    },
                                                                    {
                                                                        "name": "state",
                                                                        "type": "text",
                                                                        "label": "State"
                                                                    },
                                                                    {
                                                                        "name": "zip",
                                                                        "type": "text",
                                                                        "label": "ZIP"
                                                                    },
                                                                    {
                                                                        "name": "country",
                                                                        "type": "select",
                                                                        "label": "Country"
                                                                    }
                                                                ]
                                                            },
                                                            "onerror": [
                                                                {
                                                                    "id": 47,
                                                                    "module": "builtin:Break",
                                                                    "version": 1,
                                                                    "parameters": {},
                                                                    "mapper": {
                                                                        "count": "1",
                                                                        "retry": true,
                                                                        "interval": "15"
                                                                    },
                                                                    "metadata": {
                                                                        "designer": {
                                                                            "x": 2002,
                                                                            "y": -1798
                                                                        },
                                                                        "restore": {
                                                                            "expect": {
                                                                                "retry": {
                                                                                    "mode": "chose"
                                                                                }
                                                                            }
                                                                        },
                                                                        "expect": [
                                                                            {
                                                                                "name": "retry",
                                                                                "type": "boolean",
                                                                                "label": "Automatically complete execution",
                                                                                "required": true
                                                                            },
                                                                            {
                                                                                "name": "count",
                                                                                "type": "uinteger",
                                                                                "label": "Number of attempts",
                                                                                "required": true,
                                                                                "validate": {
                                                                                    "max": 10000,
                                                                                    "min": 1
                                                                                }
                                                                            },
                                                                            {
                                                                                "name": "interval",
                                                                                "type": "uinteger",
                                                                                "label": "Interval between attempts",
                                                                                "required": true,
                                                                                "validate": {
                                                                                    "max": 44640,
                                                                                    "min": 1
                                                                                }
                                                                            }
                                                                        ]
                                                                    }
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "id": 39,
                                                            "module": "memberpress:createTransaction",
                                                            "version": 1,
                                                            "parameters": {
                                                                "__IMTCONN__": 4243231
                                                            },
                                                            "mapper": {
                                                                "total": "0",
                                                                "amount": "0",
                                                                "member": "{{38.id}}",
                                                                "status": "complete",
                                                                "gateway": "manual",
                                                                "created_at": "{{20.createdOn}}",
                                                                "expires_at": "{{addDays(20.createdOn; 20)}}",
                                                                "membership": 143102,
                                                                "tax_amount": "0"
                                                            },
                                                            "metadata": {
                                                                "designer": {
                                                                    "x": 2500,
                                                                    "y": -1250
                                                                },
                                                                "restore": {
                                                                    "expect": {
                                                                        "coupon": {
                                                                            "mode": "chose"
                                                                        },
                                                                        "member": {
                                                                            "mode": "edit"
                                                                        },
                                                                        "status": {
                                                                            "mode": "chose",
                                                                            "label": "Complete"
                                                                        },
                                                                        "gateway": {
                                                                            "mode": "chose",
                                                                            "label": "Manual"
                                                                        },
                                                                        "membership": {
                                                                            "mode": "chose",
                                                                            "label": "Эффективное использование chatGPT. Бесплатный курс."
                                                                        },
                                                                        "subscription": {
                                                                            "mode": "edit"
                                                                        },
                                                                        "send_receipt_email": {
                                                                            "mode": "chose"
                                                                        },
                                                                        "send_welcome_email": {
                                                                            "mode": "chose"
                                                                        }
                                                                    },
                                                                    "parameters": {
                                                                        "__IMTCONN__": {
                                                                            "data": {
                                                                                "scoped": "true",
                                                                                "connection": "memberpress"
                                                                            },
                                                                            "label": "MemberPress (E8fLXqTw9M)"
                                                                        }
                                                                    }
                                                                },
                                                                "parameters": [
                                                                    {
                                                                        "name": "__IMTCONN__",
                                                                        "type": "account:memberpress",
                                                                        "label": "Connection",
                                                                        "required": true
                                                                    }
                                                                ],
                                                                "expect": [
                                                                    {
                                                                        "name": "member",
                                                                        "type": "select",
                                                                        "label": "Member",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "membership",
                                                                        "type": "select",
                                                                        "label": "Membership",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "trans_num",
                                                                        "type": "text",
                                                                        "label": "Transaction Number"
                                                                    },
                                                                    {
                                                                        "name": "amount",
                                                                        "type": "number",
                                                                        "label": "Amount"
                                                                    },
                                                                    {
                                                                        "name": "total",
                                                                        "type": "number",
                                                                        "label": "Total"
                                                                    },
                                                                    {
                                                                        "name": "tax_amount",
                                                                        "type": "number",
                                                                        "label": "Tax Amount"
                                                                    },
                                                                    {
                                                                        "name": "tax_rate",
                                                                        "type": "number",
                                                                        "label": "Tax Rate"
                                                                    },
                                                                    {
                                                                        "name": "tax_desc",
                                                                        "type": "text",
                                                                        "label": "Tax Description"
                                                                    },
                                                                    {
                                                                        "name": "coupon",
                                                                        "type": "select",
                                                                        "label": "Coupon"
                                                                    },
                                                                    {
                                                                        "name": "status",
                                                                        "type": "select",
                                                                        "label": "Status",
                                                                        "validate": {
                                                                            "enum": [
                                                                                "pending",
                                                                                "complete",
                                                                                "failed",
                                                                                "refunded"
                                                                            ]
                                                                        }
                                                                    },
                                                                    {
                                                                        "name": "gateway",
                                                                        "type": "select",
                                                                        "label": "Gateway",
                                                                        "validate": {
                                                                            "enum": [
                                                                                "manual"
                                                                            ]
                                                                        }
                                                                    },
                                                                    {
                                                                        "name": "subscription",
                                                                        "type": "select",
                                                                        "label": "Subscription"
                                                                    },
                                                                    {
                                                                        "name": "created_at",
                                                                        "type": "date",
                                                                        "label": "Created at"
                                                                    },
                                                                    {
                                                                        "name": "expires_at",
                                                                        "type": "date",
                                                                        "label": "Expires at"
                                                                    },
                                                                    {
                                                                        "name": "send_welcome_email",
                                                                        "type": "boolean",
                                                                        "label": "Send Welcome Email"
                                                                    },
                                                                    {
                                                                        "name": "send_receipt_email",
                                                                        "type": "boolean",
                                                                        "label": "Send Receipt Email"
                                                                    }
                                                                ]
                                                            },
                                                            "onerror": [
                                                                {
                                                                    "id": 83,
                                                                    "module": "builtin:Break",
                                                                    "version": 1,
                                                                    "parameters": {},
                                                                    "mapper": {
                                                                        "count": "1",
                                                                        "retry": true,
                                                                        "interval": "15"
                                                                    },
                                                                    "metadata": {
                                                                        "designer": {
                                                                            "x": 2499,
                                                                            "y": -1783
                                                                        },
                                                                        "restore": {
                                                                            "expect": {
                                                                                "retry": {
                                                                                    "mode": "chose"
                                                                                }
                                                                            }
                                                                        },
                                                                        "expect": [
                                                                            {
                                                                                "name": "retry",
                                                                                "type": "boolean",
                                                                                "label": "Automatically complete execution",
                                                                                "required": true
                                                                            },
                                                                            {
                                                                                "name": "count",
                                                                                "type": "uinteger",
                                                                                "label": "Number of attempts",
                                                                                "required": true,
                                                                                "validate": {
                                                                                    "max": 10000,
                                                                                    "min": 1
                                                                                }
                                                                            },
                                                                            {
                                                                                "name": "interval",
                                                                                "type": "uinteger",
                                                                                "label": "Interval between attempts",
                                                                                "required": true,
                                                                                "validate": {
                                                                                    "max": 44640,
                                                                                    "min": 1
                                                                                }
                                                                            }
                                                                        ]
                                                                    }
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "id": 71,
                                                            "module": "airtable:ActionUpdateRecords",
                                                            "version": 3,
                                                            "parameters": {
                                                                "__IMTCONN__": 4156908
                                                            },
                                                            "mapper": {
                                                                "id": "{{65.id}}",
                                                                "base": "appLFYxQ9GP3YZxC7",
                                                                "table": "tblXMQIw4QytdW4Im",
                                                                "record": {
                                                                    "fld18vkDuN8hfAvc6": "{{39.membership.id}}",
                                                                    "fldNBjoVr57IpDyip": "{{39.membership.title}}",
                                                                    "fldmjrWOqYJ1QSAa3": false,
                                                                    "fldoWToo4XhOX9kmS": "{{39.member.id}}"
                                                                },
                                                                "typecast": false,
                                                                "useColumnId": false
                                                            },
                                                            "metadata": {
                                                                "designer": {
                                                                    "x": 2919,
                                                                    "y": -1245
                                                                },
                                                                "restore": {
                                                                    "expect": {
                                                                        "base": {
                                                                            "label": "Курс по ИИ"
                                                                        },
                                                                        "table": {
                                                                            "label": "Курс chatGPT"
                                                                        },
                                                                        "record": {
                                                                            "nested": {
                                                                                "fldmjrWOqYJ1QSAa3": {
                                                                                    "mode": "chose"
                                                                                }
                                                                            }
                                                                        },
                                                                        "typecast": {
                                                                            "mode": "chose"
                                                                        },
                                                                        "useColumnId": {
                                                                            "mode": "chose"
                                                                        }
                                                                    },
                                                                    "parameters": {
                                                                        "__IMTCONN__": {
                                                                            "data": {
                                                                                "scoped": "true",
                                                                                "connection": "airtable2"
                                                                            },
                                                                            "label": "Airtable"
                                                                        }
                                                                    }
                                                                },
                                                                "parameters": [
                                                                    {
                                                                        "name": "__IMTCONN__",
                                                                        "type": "account:airtable3,airtable2",
                                                                        "label": "Connection",
                                                                        "required": true
                                                                    }
                                                                ],
                                                                "expect": [
                                                                    {
                                                                        "name": "base",
                                                                        "type": "select",
                                                                        "label": "Base",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "typecast",
                                                                        "type": "boolean",
                                                                        "label": "Smart links",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "useColumnId",
                                                                        "type": "boolean",
                                                                        "label": "Use Column ID",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "table",
                                                                        "type": "select",
                                                                        "label": "Table",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "id",
                                                                        "type": "text",
                                                                        "label": "Record ID",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "record",
                                                                        "spec": [
                                                                            {
                                                                                "name": "fldW65FCJNwIUBva8",
                                                                                "type": "text",
                                                                                "label": "Email"
                                                                            },
                                                                            {
                                                                                "name": "fldLBVtTc80rC27z8",
                                                                                "time": false,
                                                                                "type": "date",
                                                                                "label": "Date"
                                                                            },
                                                                            {
                                                                                "name": "fldoWToo4XhOX9kmS",
                                                                                "type": "text",
                                                                                "label": "Member-ID"
                                                                            },
                                                                            {
                                                                                "name": "fld18vkDuN8hfAvc6",
                                                                                "type": "text",
                                                                                "label": "Membership_ID"
                                                                            },
                                                                            {
                                                                                "name": "fldNBjoVr57IpDyip",
                                                                                "type": "text",
                                                                                "label": "Membership"
                                                                            },
                                                                            {
                                                                                "name": "fldmjrWOqYJ1QSAa3",
                                                                                "type": "boolean",
                                                                                "label": "Fail"
                                                                            }
                                                                        ],
                                                                        "type": "collection",
                                                                        "label": "Record"
                                                                    }
                                                                ],
                                                                "interface": [
                                                                    {
                                                                        "name": "id",
                                                                        "type": "text",
                                                                        "label": "ID"
                                                                    },
                                                                    {
                                                                        "name": "createdTime",
                                                                        "type": "date",
                                                                        "label": "Created Time"
                                                                    },
                                                                    {
                                                                        "name": "Email",
                                                                        "type": "text",
                                                                        "label": "Email"
                                                                    },
                                                                    {
                                                                        "name": "Date",
                                                                        "time": false,
                                                                        "type": "date",
                                                                        "label": "Date"
                                                                    },
                                                                    {
                                                                        "name": "Member-ID",
                                                                        "type": "text",
                                                                        "label": "Member-ID"
                                                                    },
                                                                    {
                                                                        "name": "Membership_ID",
                                                                        "type": "text",
                                                                        "label": "Membership_ID"
                                                                    },
                                                                    {
                                                                        "name": "Membership",
                                                                        "type": "text",
                                                                        "label": "Membership"
                                                                    },
                                                                    {
                                                                        "name": "Fail",
                                                                        "type": "boolean",
                                                                        "label": "Fail"
                                                                    }
                                                                ]
                                                            }
                                                        }
                                                    ]
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "flow": [
                                        {
                                            "id": 11,
                                            "module": "memberpress:createTransaction",
                                            "version": 1,
                                            "parameters": {
                                                "__IMTCONN__": 4243231
                                            },
                                            "filter": {
                                                "name": "Member Exist",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{36.id}}",
                                                            "o": "exist"
                                                        },
                                                        {
                                                            "a": "{{36.email}}",
                                                            "o": "exist"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "total": "0",
                                                "amount": "0",
                                                "member": "{{36.id}}",
                                                "status": "complete",
                                                "gateway": "manual",
                                                "created_at": "{{20.createdOn}}",
                                                "expires_at": "{{addDays(20.createdOn; 20)}}",
                                                "membership": 143102,
                                                "tax_amount": "0"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2497,
                                                    "y": -747
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "coupon": {
                                                            "mode": "chose"
                                                        },
                                                        "member": {
                                                            "mode": "edit"
                                                        },
                                                        "status": {
                                                            "mode": "chose",
                                                            "label": "Complete"
                                                        },
                                                        "gateway": {
                                                            "mode": "chose",
                                                            "label": "Manual"
                                                        },
                                                        "membership": {
                                                            "mode": "chose",
                                                            "label": "Эффективное использование chatGPT. Бесплатный курс."
                                                        },
                                                        "subscription": {
                                                            "mode": "edit"
                                                        },
                                                        "send_receipt_email": {
                                                            "mode": "chose"
                                                        },
                                                        "send_welcome_email": {
                                                            "mode": "chose"
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "memberpress"
                                                            },
                                                            "label": "MemberPress (E8fLXqTw9M)"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:memberpress",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "member",
                                                        "type": "select",
                                                        "label": "Member",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "membership",
                                                        "type": "select",
                                                        "label": "Membership",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "trans_num",
                                                        "type": "text",
                                                        "label": "Transaction Number"
                                                    },
                                                    {
                                                        "name": "amount",
                                                        "type": "number",
                                                        "label": "Amount"
                                                    },
                                                    {
                                                        "name": "total",
                                                        "type": "number",
                                                        "label": "Total"
                                                    },
                                                    {
                                                        "name": "tax_amount",
                                                        "type": "number",
                                                        "label": "Tax Amount"
                                                    },
                                                    {
                                                        "name": "tax_rate",
                                                        "type": "number",
                                                        "label": "Tax Rate"
                                                    },
                                                    {
                                                        "name": "tax_desc",
                                                        "type": "text",
                                                        "label": "Tax Description"
                                                    },
                                                    {
                                                        "name": "coupon",
                                                        "type": "select",
                                                        "label": "Coupon"
                                                    },
                                                    {
                                                        "name": "status",
                                                        "type": "select",
                                                        "label": "Status",
                                                        "validate": {
                                                            "enum": [
                                                                "pending",
                                                                "complete",
                                                                "failed",
                                                                "refunded"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "gateway",
                                                        "type": "select",
                                                        "label": "Gateway",
                                                        "validate": {
                                                            "enum": [
                                                                "manual"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "subscription",
                                                        "type": "select",
                                                        "label": "Subscription"
                                                    },
                                                    {
                                                        "name": "created_at",
                                                        "type": "date",
                                                        "label": "Created at"
                                                    },
                                                    {
                                                        "name": "expires_at",
                                                        "type": "date",
                                                        "label": "Expires at"
                                                    },
                                                    {
                                                        "name": "send_welcome_email",
                                                        "type": "boolean",
                                                        "label": "Send Welcome Email"
                                                    },
                                                    {
                                                        "name": "send_receipt_email",
                                                        "type": "boolean",
                                                        "label": "Send Receipt Email"
                                                    }
                                                ]
                                            },
                                            "onerror": [
                                                {
                                                    "id": 84,
                                                    "module": "builtin:Break",
                                                    "version": 1,
                                                    "parameters": {},
                                                    "mapper": {
                                                        "count": "1",
                                                        "retry": true,
                                                        "interval": "15"
                                                    },
                                                    "metadata": {
                                                        "designer": {
                                                            "x": 2507,
                                                            "y": -349
                                                        },
                                                        "restore": {
                                                            "expect": {
                                                                "retry": {
                                                                    "mode": "chose"
                                                                }
                                                            }
                                                        },
                                                        "expect": [
                                                            {
                                                                "name": "retry",
                                                                "type": "boolean",
                                                                "label": "Automatically complete execution",
                                                                "required": true
                                                            },
                                                            {
                                                                "name": "count",
                                                                "type": "uinteger",
                                                                "label": "Number of attempts",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 10000,
                                                                    "min": 1
                                                                }
                                                            },
                                                            {
                                                                "name": "interval",
                                                                "type": "uinteger",
                                                                "label": "Interval between attempts",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 44640,
                                                                    "min": 1
                                                                }
                                                            }
                                                        ]
                                                    }
                                                }
                                            ]
                                        },
                                        {
                                            "id": 81,
                                            "module": "airtable:ActionUpdateRecords",
                                            "version": 3,
                                            "parameters": {
                                                "__IMTCONN__": 4156908
                                            },
                                            "mapper": {
                                                "id": "{{65.id}}",
                                                "base": "appLFYxQ9GP3YZxC7",
                                                "table": "tblXMQIw4QytdW4Im",
                                                "record": {
                                                    "fld18vkDuN8hfAvc6": "{{11.membership.id}}",
                                                    "fldNBjoVr57IpDyip": "{{11.membership.title}}",
                                                    "fldmjrWOqYJ1QSAa3": false,
                                                    "fldoWToo4XhOX9kmS": "{{11.member.id}}"
                                                },
                                                "typecast": false,
                                                "useColumnId": false
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2967,
                                                    "y": -742
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "base": {
                                                            "label": "Курс по ИИ"
                                                        },
                                                        "table": {
                                                            "label": "Курс chatGPT"
                                                        },
                                                        "record": {
                                                            "nested": {
                                                                "fldmjrWOqYJ1QSAa3": {
                                                                    "mode": "chose"
                                                                }
                                                            }
                                                        },
                                                        "typecast": {
                                                            "mode": "chose"
                                                        },
                                                        "useColumnId": {
                                                            "mode": "chose"
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "airtable2"
                                                            },
                                                            "label": "Airtable"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:airtable3,airtable2",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "base",
                                                        "type": "select",
                                                        "label": "Base",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "typecast",
                                                        "type": "boolean",
                                                        "label": "Smart links",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "useColumnId",
                                                        "type": "boolean",
                                                        "label": "Use Column ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "table",
                                                        "type": "select",
                                                        "label": "Table",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "id",
                                                        "type": "text",
                                                        "label": "Record ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "record",
                                                        "spec": [
                                                            {
                                                                "name": "fldW65FCJNwIUBva8",
                                                                "type": "text",
                                                                "label": "Email"
                                                            },
                                                            {
                                                                "name": "fldLBVtTc80rC27z8",
                                                                "time": false,
                                                                "type": "date",
                                                                "label": "Date"
                                                            },
                                                            {
                                                                "name": "fldoWToo4XhOX9kmS",
                                                                "type": "text",
                                                                "label": "Member-ID"
                                                            },
                                                            {
                                                                "name": "fld18vkDuN8hfAvc6",
                                                                "type": "text",
                                                                "label": "Membership_ID"
                                                            },
                                                            {
                                                                "name": "fldNBjoVr57IpDyip",
                                                                "type": "text",
                                                                "label": "Membership"
                                                            },
                                                            {
                                                                "name": "fldmjrWOqYJ1QSAa3",
                                                                "type": "boolean",
                                                                "label": "Fail"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Record"
                                                    }
                                                ],
                                                "interface": [
                                                    {
                                                        "name": "id",
                                                        "type": "text",
                                                        "label": "ID"
                                                    },
                                                    {
                                                        "name": "createdTime",
                                                        "type": "date",
                                                        "label": "Created Time"
                                                    },
                                                    {
                                                        "name": "Email",
                                                        "type": "text",
                                                        "label": "Email"
                                                    },
                                                    {
                                                        "name": "Date",
                                                        "time": false,
                                                        "type": "date",
                                                        "label": "Date"
                                                    },
                                                    {
                                                        "name": "Member-ID",
                                                        "type": "text",
                                                        "label": "Member-ID"
                                                    },
                                                    {
                                                        "name": "Membership_ID",
                                                        "type": "text",
                                                        "label": "Membership_ID"
                                                    },
                                                    {
                                                        "name": "Membership",
                                                        "type": "text",
                                                        "label": "Membership"
                                                    },
                                                    {
                                                        "name": "Fail",
                                                        "type": "boolean",
                                                        "label": "Fail"
                                                    },
                                                    {
                                                        "name": "Created",
                                                        "type": "date",
                                                        "label": "Created"
                                                    }
                                                ]
                                            }
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 54,
                            "module": "util:FunctionSleep",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "duration": "60"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 772,
                                    "y": 456
                                },
                                "restore": {},
                                "expect": [
                                    {
                                        "name": "duration",
                                        "type": "uinteger",
                                        "label": "Delay",
                                        "required": true,
                                        "validate": {
                                            "max": 300,
                                            "min": 1
                                        }
                                    }
                                ]
                            }
                        },
                        {
                            "id": 75,
                            "module": "wordpress:searchUsers",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 4244696
                            },
                            "mapper": {
                                "limit": "10",
                                "order": {},
                                "roles": [
                                    "super_admin",
                                    "administrator",
                                    "editor",
                                    "author",
                                    "contributor",
                                    "subscriber"
                                ],
                                "search": "{{20.email}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 757,
                                    "y": 1048
                                },
                                "restore": {
                                    "expect": {
                                        "order": {
                                            "nested": {
                                                "field": {
                                                    "mode": "chose",
                                                    "label": "Empty"
                                                },
                                                "order": {
                                                    "mode": "chose"
                                                }
                                            }
                                        },
                                        "roles": {
                                            "mode": "chose",
                                            "label": [
                                                "Super Admin",
                                                "Administrator",
                                                "Editor",
                                                "Author",
                                                "Contributor",
                                                "Subscriber"
                                            ]
                                        },
                                        "exclude": {
                                            "mode": "chose"
                                        },
                                        "include": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "wordpress4"
                                            },
                                            "label": "WordPress alexeykrol.com (Алексей Крол)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:wordpress4",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "search",
                                        "type": "text",
                                        "label": "Search"
                                    },
                                    {
                                        "name": "roles",
                                        "type": "select",
                                        "label": "Roles",
                                        "multiple": true
                                    },
                                    {
                                        "name": "order",
                                        "spec": [
                                            {
                                                "name": "field",
                                                "type": "select",
                                                "label": "Field",
                                                "validate": {
                                                    "enum": [
                                                        "id",
                                                        "name",
                                                        "email",
                                                        "registered_date",
                                                        "include",
                                                        "url",
                                                        "slug",
                                                        "include_slugs"
                                                    ]
                                                }
                                            },
                                            {
                                                "name": "order",
                                                "type": "select",
                                                "label": "Order"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Order By"
                                    },
                                    {
                                        "name": "limit",
                                        "type": "uinteger",
                                        "label": "Limit"
                                    },
                                    {
                                        "name": "include",
                                        "spec": {
                                            "name": "value",
                                            "type": "select",
                                            "label": "User ID",
                                            "dynamic": true,
                                            "options": []
                                        },
                                        "type": "array",
                                        "label": "Include"
                                    },
                                    {
                                        "name": "exclude",
                                        "spec": {
                                            "name": "value",
                                            "type": "select",
                                            "label": "User ID",
                                            "dynamic": true,
                                            "options": []
                                        },
                                        "type": "array",
                                        "label": "Exclude"
                                    },
                                    {
                                        "name": "slug",
                                        "type": "text",
                                        "label": "Slug"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 62,
                            "module": "builtin:BasicRouter",
                            "version": 1,
                            "filter": {
                                "name": "Member doesn't exist",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{75.id}}",
                                            "o": "notexist"
                                        },
                                        {
                                            "a": "{{75.email}}",
                                            "o": "notexist"
                                        }
                                    ]
                                ]
                            },
                            "mapper": null,
                            "metadata": {
                                "designer": {
                                    "x": 1391,
                                    "y": 1055
                                }
                            },
                            "routes": [
                                {
                                    "flow": [
                                        {
                                            "id": 57,
                                            "module": "memberpress:createMember",
                                            "version": 1,
                                            "parameters": {
                                                "__IMTCONN__": 4243231
                                            },
                                            "mapper": {
                                                "email": "{{20.email}}",
                                                "username": "{{20.email}}",
                                                "transaction": {}
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1904,
                                                    "y": 1054
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "country": {
                                                            "mode": "chose"
                                                        },
                                                        "transaction": {
                                                            "nested": {
                                                                "coupon": {
                                                                    "mode": "chose"
                                                                },
                                                                "status": {
                                                                    "mode": "chose",
                                                                    "label": "Empty"
                                                                },
                                                                "gateway": {
                                                                    "mode": "chose",
                                                                    "label": "Empty"
                                                                },
                                                                "membership": {
                                                                    "mode": "chose"
                                                                },
                                                                "subscription": {
                                                                    "mode": "chose"
                                                                },
                                                                "send_receipt_email": {
                                                                    "mode": "chose"
                                                                },
                                                                "send_welcome_email": {
                                                                    "mode": "chose"
                                                                }
                                                            }
                                                        },
                                                        "send_welcome_email": {
                                                            "mode": "chose"
                                                        },
                                                        "send_password_email": {
                                                            "mode": "chose"
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "memberpress"
                                                            },
                                                            "label": "MemberPress (E8fLXqTw9M)"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:memberpress",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "email",
                                                        "type": "email",
                                                        "label": "Email",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "username",
                                                        "type": "text",
                                                        "label": "Username",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "first_name",
                                                        "type": "text",
                                                        "label": "First Name"
                                                    },
                                                    {
                                                        "name": "last_name",
                                                        "type": "text",
                                                        "label": "Last Name"
                                                    },
                                                    {
                                                        "name": "password",
                                                        "type": "text",
                                                        "label": "Password"
                                                    },
                                                    {
                                                        "name": "transaction",
                                                        "spec": [
                                                            {
                                                                "name": "membership",
                                                                "type": "select",
                                                                "label": "Membership"
                                                            },
                                                            {
                                                                "name": "trans_num",
                                                                "type": "text",
                                                                "label": "Transaction Number"
                                                            },
                                                            {
                                                                "name": "amount",
                                                                "type": "number",
                                                                "label": "Amount"
                                                            },
                                                            {
                                                                "name": "total",
                                                                "type": "number",
                                                                "label": "Total"
                                                            },
                                                            {
                                                                "name": "tax_amount",
                                                                "type": "number",
                                                                "label": "Tax Amount"
                                                            },
                                                            {
                                                                "name": "tax_rate",
                                                                "type": "number",
                                                                "label": "Tax Rate"
                                                            },
                                                            {
                                                                "name": "tax_desc",
                                                                "type": "text",
                                                                "label": "Tax Description"
                                                            },
                                                            {
                                                                "name": "coupon",
                                                                "type": "select",
                                                                "label": "Coupon"
                                                            },
                                                            {
                                                                "name": "status",
                                                                "type": "select",
                                                                "label": "Status",
                                                                "validate": {
                                                                    "enum": [
                                                                        "pending",
                                                                        "complete",
                                                                        "failed",
                                                                        "refunded"
                                                                    ]
                                                                }
                                                            },
                                                            {
                                                                "name": "response",
                                                                "type": "text",
                                                                "label": "Response"
                                                            },
                                                            {
                                                                "name": "gateway",
                                                                "type": "select",
                                                                "label": "Gateway",
                                                                "validate": {
                                                                    "enum": [
                                                                        "manual"
                                                                    ]
                                                                }
                                                            },
                                                            {
                                                                "name": "subscription",
                                                                "type": "select",
                                                                "label": "Subscription"
                                                            },
                                                            {
                                                                "name": "send_welcome_email",
                                                                "type": "boolean",
                                                                "label": "Send Welcome Email"
                                                            },
                                                            {
                                                                "name": "send_receipt_email",
                                                                "type": "boolean",
                                                                "label": "Send Receipt Email"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Transaction"
                                                    },
                                                    {
                                                        "name": "send_welcome_email",
                                                        "type": "boolean",
                                                        "label": "Send Welcome Email"
                                                    },
                                                    {
                                                        "name": "send_password_email",
                                                        "type": "boolean",
                                                        "label": "Send Password Email"
                                                    },
                                                    {
                                                        "name": "address1",
                                                        "type": "text",
                                                        "label": "Address 1"
                                                    },
                                                    {
                                                        "name": "address2",
                                                        "type": "text",
                                                        "label": "Address 2"
                                                    },
                                                    {
                                                        "name": "city",
                                                        "type": "text",
                                                        "label": "City"
                                                    },
                                                    {
                                                        "name": "state",
                                                        "type": "text",
                                                        "label": "State"
                                                    },
                                                    {
                                                        "name": "zip",
                                                        "type": "text",
                                                        "label": "ZIP"
                                                    },
                                                    {
                                                        "name": "country",
                                                        "type": "select",
                                                        "label": "Country"
                                                    }
                                                ]
                                            },
                                            "onerror": [
                                                {
                                                    "id": 58,
                                                    "module": "builtin:Break",
                                                    "version": 1,
                                                    "parameters": {},
                                                    "mapper": {
                                                        "count": "3",
                                                        "retry": true,
                                                        "interval": "15"
                                                    },
                                                    "metadata": {
                                                        "designer": {
                                                            "x": 1924,
                                                            "y": 474
                                                        },
                                                        "restore": {
                                                            "expect": {
                                                                "retry": {
                                                                    "mode": "chose"
                                                                }
                                                            }
                                                        },
                                                        "expect": [
                                                            {
                                                                "name": "retry",
                                                                "type": "boolean",
                                                                "label": "Automatically complete execution",
                                                                "required": true
                                                            },
                                                            {
                                                                "name": "count",
                                                                "type": "uinteger",
                                                                "label": "Number of attempts",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 10000,
                                                                    "min": 1
                                                                }
                                                            },
                                                            {
                                                                "name": "interval",
                                                                "type": "uinteger",
                                                                "label": "Interval between attempts",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 44640,
                                                                    "min": 1
                                                                }
                                                            }
                                                        ]
                                                    }
                                                }
                                            ]
                                        },
                                        {
                                            "id": 59,
                                            "module": "memberpress:createTransaction",
                                            "version": 1,
                                            "parameters": {
                                                "__IMTCONN__": 4243231
                                            },
                                            "mapper": {
                                                "total": "0",
                                                "amount": "0",
                                                "member": "{{57.id}}",
                                                "status": "complete",
                                                "gateway": "manual",
                                                "created_at": "{{20.createdOn}}",
                                                "expires_at": "{{addDays(20.createdOn; 20)}}",
                                                "membership": 143102,
                                                "tax_amount": "0"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2704,
                                                    "y": 1078
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "coupon": {
                                                            "mode": "chose"
                                                        },
                                                        "member": {
                                                            "mode": "edit"
                                                        },
                                                        "status": {
                                                            "mode": "chose",
                                                            "label": "Complete"
                                                        },
                                                        "gateway": {
                                                            "mode": "chose",
                                                            "label": "Manual"
                                                        },
                                                        "membership": {
                                                            "mode": "chose",
                                                            "label": "Эффективное использование chatGPT. Бесплатный курс."
                                                        },
                                                        "subscription": {
                                                            "mode": "edit"
                                                        },
                                                        "send_receipt_email": {
                                                            "mode": "chose"
                                                        },
                                                        "send_welcome_email": {
                                                            "mode": "chose"
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "memberpress"
                                                            },
                                                            "label": "MemberPress (E8fLXqTw9M)"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:memberpress",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "member",
                                                        "type": "select",
                                                        "label": "Member",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "membership",
                                                        "type": "select",
                                                        "label": "Membership",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "trans_num",
                                                        "type": "text",
                                                        "label": "Transaction Number"
                                                    },
                                                    {
                                                        "name": "amount",
                                                        "type": "number",
                                                        "label": "Amount"
                                                    },
                                                    {
                                                        "name": "total",
                                                        "type": "number",
                                                        "label": "Total"
                                                    },
                                                    {
                                                        "name": "tax_amount",
                                                        "type": "number",
                                                        "label": "Tax Amount"
                                                    },
                                                    {
                                                        "name": "tax_rate",
                                                        "type": "number",
                                                        "label": "Tax Rate"
                                                    },
                                                    {
                                                        "name": "tax_desc",
                                                        "type": "text",
                                                        "label": "Tax Description"
                                                    },
                                                    {
                                                        "name": "coupon",
                                                        "type": "select",
                                                        "label": "Coupon"
                                                    },
                                                    {
                                                        "name": "status",
                                                        "type": "select",
                                                        "label": "Status",
                                                        "validate": {
                                                            "enum": [
                                                                "pending",
                                                                "complete",
                                                                "failed",
                                                                "refunded"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "gateway",
                                                        "type": "select",
                                                        "label": "Gateway",
                                                        "validate": {
                                                            "enum": [
                                                                "manual"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "subscription",
                                                        "type": "select",
                                                        "label": "Subscription"
                                                    },
                                                    {
                                                        "name": "created_at",
                                                        "type": "date",
                                                        "label": "Created at"
                                                    },
                                                    {
                                                        "name": "expires_at",
                                                        "type": "date",
                                                        "label": "Expires at"
                                                    },
                                                    {
                                                        "name": "send_welcome_email",
                                                        "type": "boolean",
                                                        "label": "Send Welcome Email"
                                                    },
                                                    {
                                                        "name": "send_receipt_email",
                                                        "type": "boolean",
                                                        "label": "Send Receipt Email"
                                                    }
                                                ]
                                            },
                                            "onerror": [
                                                {
                                                    "id": 69,
                                                    "module": "builtin:Break",
                                                    "version": 1,
                                                    "parameters": {},
                                                    "mapper": {
                                                        "count": "3",
                                                        "retry": true,
                                                        "interval": "15"
                                                    },
                                                    "metadata": {
                                                        "designer": {
                                                            "x": 2697,
                                                            "y": 496
                                                        },
                                                        "restore": {
                                                            "expect": {
                                                                "retry": {
                                                                    "mode": "chose"
                                                                }
                                                            }
                                                        },
                                                        "expect": [
                                                            {
                                                                "name": "retry",
                                                                "type": "boolean",
                                                                "label": "Automatically complete execution",
                                                                "required": true
                                                            },
                                                            {
                                                                "name": "count",
                                                                "type": "uinteger",
                                                                "label": "Number of attempts",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 10000,
                                                                    "min": 1
                                                                }
                                                            },
                                                            {
                                                                "name": "interval",
                                                                "type": "uinteger",
                                                                "label": "Interval between attempts",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 44640,
                                                                    "min": 1
                                                                }
                                                            }
                                                        ]
                                                    }
                                                }
                                            ]
                                        },
                                        {
                                            "id": 70,
                                            "module": "airtable:ActionUpdateRecords",
                                            "version": 3,
                                            "parameters": {
                                                "__IMTCONN__": 4156908
                                            },
                                            "mapper": {
                                                "id": "{{65.id}}",
                                                "base": "appLFYxQ9GP3YZxC7",
                                                "table": "tblXMQIw4QytdW4Im",
                                                "record": {
                                                    "fld18vkDuN8hfAvc6": "{{59.membership.id}}",
                                                    "fldNBjoVr57IpDyip": "{{59.membership.title}}",
                                                    "fldmjrWOqYJ1QSAa3": true,
                                                    "fldoWToo4XhOX9kmS": "{{57.id}}"
                                                },
                                                "typecast": false,
                                                "useColumnId": false
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 3383,
                                                    "y": 1081
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "base": {
                                                            "label": "Курс по ИИ"
                                                        },
                                                        "table": {
                                                            "label": "Курс chatGPT"
                                                        },
                                                        "record": {
                                                            "nested": {
                                                                "fldmjrWOqYJ1QSAa3": {
                                                                    "mode": "chose"
                                                                }
                                                            }
                                                        },
                                                        "typecast": {
                                                            "mode": "chose"
                                                        },
                                                        "useColumnId": {
                                                            "mode": "chose"
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "airtable2"
                                                            },
                                                            "label": "Airtable"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:airtable3,airtable2",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "base",
                                                        "type": "select",
                                                        "label": "Base",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "typecast",
                                                        "type": "boolean",
                                                        "label": "Smart links",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "useColumnId",
                                                        "type": "boolean",
                                                        "label": "Use Column ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "table",
                                                        "type": "select",
                                                        "label": "Table",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "id",
                                                        "type": "text",
                                                        "label": "Record ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "record",
                                                        "spec": [
                                                            {
                                                                "name": "fldW65FCJNwIUBva8",
                                                                "type": "text",
                                                                "label": "Email"
                                                            },
                                                            {
                                                                "name": "fldLBVtTc80rC27z8",
                                                                "time": false,
                                                                "type": "date",
                                                                "label": "Date"
                                                            },
                                                            {
                                                                "name": "fldoWToo4XhOX9kmS",
                                                                "type": "text",
                                                                "label": "Member-ID"
                                                            },
                                                            {
                                                                "name": "fld18vkDuN8hfAvc6",
                                                                "type": "text",
                                                                "label": "Membership_ID"
                                                            },
                                                            {
                                                                "name": "fldNBjoVr57IpDyip",
                                                                "type": "text",
                                                                "label": "Membership"
                                                            },
                                                            {
                                                                "name": "fldmjrWOqYJ1QSAa3",
                                                                "type": "boolean",
                                                                "label": "Fail"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Record"
                                                    }
                                                ],
                                                "interface": [
                                                    {
                                                        "name": "id",
                                                        "type": "text",
                                                        "label": "ID"
                                                    },
                                                    {
                                                        "name": "createdTime",
                                                        "type": "date",
                                                        "label": "Created Time"
                                                    },
                                                    {
                                                        "name": "Email",
                                                        "type": "text",
                                                        "label": "Email"
                                                    },
                                                    {
                                                        "name": "Date",
                                                        "time": false,
                                                        "type": "date",
                                                        "label": "Date"
                                                    },
                                                    {
                                                        "name": "Member-ID",
                                                        "type": "text",
                                                        "label": "Member-ID"
                                                    },
                                                    {
                                                        "name": "Membership_ID",
                                                        "type": "text",
                                                        "label": "Membership_ID"
                                                    },
                                                    {
                                                        "name": "Membership",
                                                        "type": "text",
                                                        "label": "Membership"
                                                    },
                                                    {
                                                        "name": "Fail",
                                                        "type": "boolean",
                                                        "label": "Fail"
                                                    }
                                                ]
                                            }
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": true,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us1.make.com",
        "notes": [
            {
                "moduleIds": [
                    38
                ],
                "content": "<p>Убеждаемся, что мембера нет</p>",
                "isFilterNote": true,
                "metadata": {
                    "color": "#9138FE"
                }
            },
            {
                "moduleIds": [
                    45
                ],
                "content": "<p>Мембер НЕ существует, т.е. НЕТ ID, Email и количество бандлов = 0. В этом случае надо сначала создать мембера и потом создавать нужную транзакцию.</p>",
                "isFilterNote": true,
                "metadata": {
                    "color": "#9138FE"
                }
            },
            {
                "moduleIds": [
                    11
                ],
                "content": "<p>Создаем транзакцию</p>",
                "isFilterNote": false,
                "metadata": {
                    "color": "#9138FE"
                }
            },
            {
                "moduleIds": [
                    11
                ],
                "content": "<p>Мембер существует, т.е. есть ID, Email и количество бандлов больше 0. В этом случае надо только создавать нужную транзакцию.</p>",
                "isFilterNote": true,
                "metadata": {
                    "color": "#9138FE"
                }
            }
        ]
    },
    "io": {
        "input_spec": [],
        "output_spec": [
            {
                "help": "",
                "name": "email",
                "type": "text",
                "label": "",
                "default": "",
                "required": false,
                "multiline": false
            }
        ]
    }
}